<div class="post-tags">
  Tags: 
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="/tags/#{{tag|slugize}}">{{tag}}</a>{% unless forloop.last %},{% endunless %}
  {% endfor %}
</div>

<style>
  .tag-cloud {
    list-style: none;
    padding: 0;
    text-align: justify; 
    font-size: 16px;
    li {
      display: inline-block;
      margin: 0 12px 12px 0; 
    }
  }
  #archives {
    padding: 5px;
  }
  .archive-group {
    margin: 5px;
    border-top: 1px solid #ddd;
  }
  .archive-item {
    margin-left: 5px;
  }
  .post-tags {
    text-align: right;
  }
</style>